<div class="row">

	<div class='col-md-12'>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						JSON API Format Validator
					</a>
				</div>
			</div>
		</nav>
	</div>

</div>

<div class="row">
  <div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	Input your JSON API response
		  	<button type="button" class="btn btn-default btn-link" onclick="UX.RESULTS.loadSample()">
				  load sample
				</button>		 		  	
		  </div>
		  <div class="panel-body">
				<div id="json-input"></div>
		  </div>
		</div>
  </div>
  <div class="col-md-5">
  	<div class="panel panel-default">
		  <div class="panel-heading">
		  	Results	  	
		  </div>
		  <div class="panel-body" style="height: 790px">
		  	<div id='json-valid-result'>
		  		<div class="alert alert-default" role="alert">
		  			Please provide JSON to see results.
		  		</div>
		  	</div>
		  	<div class="alert alert-info" role="alert">
				  <strong>Note:</strong> Refer <a href='http://jsonapi.org/format/'>jsonapi.org/format</a> specification for more details on implementation
				</div>
		  	<div id="results">
		    </div>
		  </div>
		</div>
  </div>
</div>


<script>
	JSONAPI.VALIDATOR.setSchema('<%=j STANDARD_SCHEMA.to_json.html_safe %>');
</script>

<script id="error-panel" type="text/x-handlebars-template">
	{{#list subErrors}}
		<div class="panel panel-danger">
		  <div class="panel-heading">Validation Error</div>
		  <div class="panel-body">
		  	<div id="results">
		    	{{message}}
		    </div>
		  </div>
		</div>
	{{/list}}
</script>


<script id="json-valid" type="text/x-handlebars-template">
	<div class="alert alert-default" role="alert">
		You have provided
		{{#if isValid}}
			<span class="label label-success">Valid JSON</span>
		{{else}}
			<span class="label label-danger">Invalid JSON</span>
		{{/if}} 
		and it is 
		{{#if isCompliant}}
			<span class="label label-success">Compliant</span>
		{{else}}
			<span class="label label-danger">Not Compliant</span>
		{{/if}} 		
		 with <a href='http://jsonapi.org/format/'>jsonapi.org</a>
	</div>
</script>