<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				JSON API Response Validator
			</a>
		</div>
	</div>
</nav>

<div class="row">
  <div class="col-md-6">
		<div class="panel panel-info">
		  <div class="panel-heading">
		  	Input valid JSON
		  	<button type="button" class="btn btn-success btn-sm pull-right" onclick="UX.RESULTS.runCheck()">
				  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> refresh
				</button>
		  </div>
		  <div class="panel-body">
				<textarea id="jsonInput" style="width: 100%; height: 800px;" placeholder="Paste your JSON here"></textarea>
		  </div>
		</div>
  </div>
  <div class="col-md-5">
  	<div class="panel panel-primary">
		  <div class="panel-heading">Results</div>
		  <div class="panel-body">
		  	<div id="results" style="width: 100%; height: 800px;">
		    	Please input JSON to see results.
		    </div>
		  </div>
		</div>
  </div>
</div>

<script>
	JSONAPI.VALIDATOR.setSchema('<%=j STANDARD_SCHEMA.to_json.html_safe %>');
</script>

<script id="error-panel" type="text/x-handlebars-template">
	{{#list subErrors}}
		<div class="panel panel-danger">
		  <div class="panel-heading">Validation Error</div>
		  <div class="panel-body">
		  	<div id="results">
		    	{{message}}
		    </div>
		  </div>
		</div>
	{{/list}}
</script>